<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Index</title>
    </head>
    <body>

        <div th:if="${#session.containsAttribute('loggedInUser')}">
            <p>Benvenuto, <span th:text="${loggedInUser.nome}"></span>!</p>
            <a href="/areaUtente">Vai alla tua area personale</a> |
            <a href="/logout">Logout</a>
        </div>

        <div th:if="${!#session.containsAttribute('loggedInUser')}">
            <p>Non sei loggato. Effettua il login:</p>
            <div th:insert="fragments/login :: login"></div>
        </div>

    </body>
</html>