<html lang="it">
    <header>
        <nav>
            <div>Logo</div>
            <div>
                <a href="\areaPersonale">Area personale</a>
                <a href="\logout">Logout</a>
            </div>
        </nav>
    </header>
    <body>
        <div th:fragment="header">
            <header>
                <nav>
                    <div>Logo</div>
                    <div>
                        <a href="\areaPersonale">Area personale</a>
                        <a href="\logout">Logout</a>
                    </div>
                </nav>
            </header>
        </div>
    </body>
</html>