<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Area Amministratore</title>
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css"
        >
        <style>
            .saluto, form, h2 {
                padding: 20px;
            }
            header {
                padding: 20px;
            }
            header nav div a {
                padding: 0px 7px;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <div>Logo</div>
                <div>
                    <a href="/area_personale">Area personale</a>
                    <a href="/logout">Logout</a>
                </div>
            </nav>
        </header>
        <h1 class="saluto">Benvenuto Amministratore!</h1>
        <!--
        <h2>Inserisci un nuovo dipendente</h2>
        <form action="#" th:action="@{/areaAmministratore}" th:object="${personale}" method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{nome}" /></td>
                    <td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Name Error</td>
                </tr>
                <tr>
                    <td>Surname:</td>
                    <td><input type="text" th:field="*{cognome}" /></td>
                    <td th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}">Surname Error</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="email" th:field="*{email}" /></td>
                    <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
                </tr>
                <tr>
                    <td>ID:</td>
                    <td><input type="number" th:field="*{id}" /></td>
                    <td th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Password Error</td>
                </tr>
                <tr>
                    <td>Ruolo:</td>
                    <td>
                        <select th:field="*{ruolo}">
                            <option value="1">Amministratore</option>
                            <option value="2">Guida</option>
                            <option value="3">Curatore</option>
                        </select>
                    <td th:if="${#fields.hasErrors('ruolo')}" th:errors="*{ruolo}">Ruolo Error</td>
                    </td>
                </tr>

                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form> -->
    </body>
</html>