<html>
    <body>
        <form action="#" th:action="@{/login}" th:object="${personale}" method="post" th:fragment="login">
            <div>
                <label>Name:</label>
                <input type="text" th:field="*{nome}" />
                <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Name Error</div>
            </div>

            <div>
                <label>Surname:</label>
                <input type="text" th:field="*{cognome}" />
                <div th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}">Surname Error</div>
            </div>

            <div>
                <label>Id:</label>
                <input type="text" th:field="*{id}" />
                <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Id Error</div>
            </div>

            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </body>
</html>
