<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Successo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.cyan.min.css">
    <style>
        body {
            padding: 20px;
        }
        header nav div a {
            padding: 0px 7px;
        }
    </style>
</head>
<body>
<header>
    <nav>
        <div>Logo</div>
        <div>
            <a href="/area_personale">Area personale</a>
            <a href="/logout">Logout</a>
        </div>
    </nav>
</header>
<h2>Dipendente inserito correttamente</h2>
<a href="/area_amministratore">Torna all'area amministratore</a>
</body>
</html>
